Package: com.chashmeet.darkmail
Name: DarkMail
Depends: mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: Dark Mode for the Mail App
Maintainer: Chashmeet Singh <chashmeetsingh@gmail.com>
Author: Chashmeet Singh <chashmeetsingh@gmail.com>
Section: Tweaks